body {
  background-image: url(./images/background_2.png);
  background-size: 800px;
  background-position: top;
}

.Dictionary {
  background: none;
  text-align: center;
}

.Results {
  background-image: url(./images/background_3.png);
}
